<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All info</title>
    <style>
        table, th, td{
            border: 2px solid black;
        }
    </style>
</head>
<body>
    <h1>All Information About Users</h1>
    <table>
        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>Email</th>
            <th>Password</th>
        </tr>
        <% for(user of users){ %>
            <tr>
                <td><%= user.id %></td>
                <td><%= user.username %></td>
                <td><%= user.email %></td>
                <td><%= user.password %></td>

                <td>
                    <form method="get" action="/user/<%=user.id%>/edit">
                        <button>Edit Username</button>
                    </form>
                </td>
            </tr>
        <%}%>
    </table>
</body>
</html>